= render partial: "entete",
locals: { famille: @famille, parent: @parent, enfant: @enfant}


.conteneur
  .onglet.element_onglet_selectionne
    =link_to "Saisie Famille", principal_application_index_path
  .onglet.element_onglet_non_selectionne
    =link_to "Resume", resume_application_index_path
  .onglet.element_onglet_non_selectionne

    = form_for @parent, url: get_familly_application_path(@famille) do |d|
      = d.label :nom do
        Selectionnez une famille
        .constants-list
          = d.select :famille_id, @famille.map { |number| [number.nom, number.id]}
        .button
          = d.submit 'Valider',  class: "button large send gap-left"

.conteneur
  .card.card-parent
    = form_for @parent,
        url: create_parent_application_path(@famille),
        html: { class: 'form' } do |f|
      %h3.label Identité du père
      = f.label :prenom_pere do
        Prenom
        = f.text_field :prenom_pere, placeholder: 'Votre Prenom', required: true
        =f.label :annee_naissance_pere do
          Date de naissance
          =f.datetime_field :annee_naissance_pere

      %h3.label Identité de la mère
      =f.label :prenom_mere do
        Prenom
        =f.text_field :prenom_mere, placeholder: 'Nom et prenom de la mère', required: true
        =f.label :annee_naissance_mere do
          Date de naissance
          =f.datetime_field :annee_naissance_mere

        .button
          =f.submit 'enregistrer', class: 'button primary send'

  .card.card-enfant
    = form_for @enfant,
        url: create_enfant_application_path(@famille),
        html: { class: 'form' } do |e|
      %h3.label Identité des enfants
      = e.label :prenom do
        Prenom
        = e.text_field :prenom, placeholder: 'Votre Nom' , required: true
        =e.label :naissance do
          Date de naissance
          =e.datetime_field :annee_naissance
        .button
          =e.submit 'enregistrer', class: 'button primary send'