= render partial: "entete"

-#Récupération des donnée en base
-value_id = params[:id]
-if !value_id.nil?
  -parents = Parent.where(id:params[:id])
  -enfants = Enfant.where(parent_id: parents.first.id)
  -nom_famille = Famille.where(id: parents.first.famille_id)
.conteneur
  .onglet.element_onglet_non_selectionne
    =link_to "Saisie Famille", application_principal_path
  .onglet.element_onglet_selectionne
    =link_to "Resume", application_resume_path
  .onglet.element_onglet_non_selectionne
    = form_tag familles_resume_famille_path, action:"resume_famille", multipart: true do
      =select_tag(:id,options_from_collection_for_select(@famille, 'id','nom'), :select => params[:id])
      =submit_tag "VALIDER"
.conteneur
  .card.card-resume-parent
    -puts '********ANALYSE PARENT RESUME HAML*********'
    -puts parents.inspect
    -puts '********ANALYSE PARENT RESUME HAML*********'
    -puts value_id
    -puts '********ANALYSE Famille RESUME HAML*********'
    -puts @famille.inspect
    -if parents.nil?
      %h2 Aucune familles dans la base de donnée
    -else
      %section
        %h2.label-resume Composition de la familles #{nom_famille.pluck(:nom)[0]}
        %h2 Composition des parents
        %table.table-dossier
          %tr
            %th Prenom mere
            %th Prenom pere
            - parents.each do |element_parent|
              %tr
                %td= -element_parent.prenom_pere.to_s
                %td= -element_parent.prenom_mere.to_s
        -if !enfants.nil?
          %br
          %h2 Composition des enfant
          %table.table-dossier
            %tr
              %th Prenom
              %th Date de naissance
              - enfants.each do |element_enfant|
                %tr
                  %td=-element_enfant.prenom.to_s
                  %td=-element_enfant.annee_naissance.to_s

:javascript
  function val(){
    d = document.getElementById("test").value;
    console.log("testt*******");
    alert(d);
    return d;
  }

  function get_val(){
    return val();
  }